.progressTitle {
    font-size  : 16px;
    font-weight: 400;
    color      : var(--color-dark);
    margin     : 25px 0 0;
}

.progress {
    height    : 11px !important;
    box-shadow: none;
    background: #f2f3f7;
    overflow  : visible;

}



.color1 {

    background: #2c98f0 !important;
}



.color3 {

    background: #2fa499 !important;
}

.color5 {

    background: #a84cb8 !important;
}

.color6 {

    background: #4054b2 !important;
}